name: "[moegirl] Trigger Automatic Dictionary Build"

on:
  workflow_dispatch: {}
  schedule:
    - cron: "37 19 9 * *"

jobs:
  trigger-bnp:
    name: Trigger build & publish
    permissions:
      actions: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            github.request('POST /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches', {
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: "build_dict.yml",
              ref: 'pkg-moegirl'
            })
          debug: true
